<h1>车灯型号查询</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
    <th>Description</th>
  </tr>

<% @autoparts.each do |autopart| %>
  <tr>
    <td><%= autopart.name %></td>
    <td><%= autopart.price %></td>
    <td><%= autopart.image %></td>
    <td><%= autopart.description %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Autopart', new_autopart_path %>
