<table class="table" > 
  <thead>
    <tr>
      <th>Mytitle</th>
      <th>Mydescription</th>
      <th>Tags</th>
      <th>Author</th>
      <th>Class name</th>
      <th>First time</th>
      <th>From name</th>
      <th>Like count</th>
      <th>Hits</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= link_to article.mytitle, article %></td>
        <td><%= article.mydescription %></td>
        <td><%= article.tags %></td>
        <td><%= article.author %></td>
        <td><%= article.class_name %></td>
        <td><%= article.first_time %></td>
        <td><%= article.like_count %></td>
        <td><%= article.hits %></td>
        <td><%= link_to '编辑', edit_article_path(article) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '新建', new_article_path %>
