<p id="notice"><%= notice %></p>

<h1><%= @article.title %></h1>

<p>
  <%= @article.tags.join(',') %>
</p>
<p>
  <%= @article.hits %>
</p>

<p>
<%=  raw @content %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
