<p id="notice"><%= notice %></p>

<h1><%= @article.title %><small><%= @article.tags.join(',') %></small></h1>
<p class="text-center">
点击数:  <%= @article.hits %>
</p>

<article class="lead">
<%=  raw @content %>
</article>

<%= link_to '返回列表', articles_path %>
