<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_car_model.name %>
</p>

<p>
  <b>Name pinyin:</b>
  <%= @admin_car_model.name_pinyin %>
</p>

<p>
  <b>Price low:</b>
  <%= @admin_car_model.price_low %>
</p>

<p>
  <b>Price top:</b>
  <%= @admin_car_model.price_top %>
</p>

<p>
  <b>Status:</b>
  <%= @admin_car_model.status %>
</p>

<p>
  <b>Country:</b>
  <%= @admin_car_model.country %>
</p>

<p>
  <b>Summary:</b>
  <%= @admin_car_model.summary %>
</p>

<p>
  <b>Type:</b>
  <%= @admin_car_model.car_type %>
</p>

<p>
  <b>Use:</b>
  <%= @admin_car_model.car_use %>
</p>
